@charset "UTF-8";

.container {
	width: 200px;
	border: 2px solid #2045c6;
	margin: 20px;
	padding: 30px;
	background-color: #2084c6;
}

.form-signin-heading {
	color: white;
}

.sr-only {
	color: white;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

.button {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.button:hover {
	background-color: #1d77c9;
}